main {
  width: 70%;
  margin: auto;
  background-color: white;
  border: 1px solid #dedddd;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container {
  width: 70%;
  border: 1px solid #dedddd;
  border-bottom: 1px solid #dedddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:  white;
  margin: auto;
}

#legend {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  width: 100%;
}

.legend-span {
  width: 17.5%;
  text-align: right;
  font-weight: bold;
  color: #595959;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 1rem; 
  padding-right: 1rem; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.legend-span span {
  font-size: 1rem;
}

#legend_flag {
  padding: 0;
  padding-left: 1.5rem;
}

.name {
  text-align: left;
  justify-content: flex-start;
  border-right: 1px solid #f0f0f0;
  width: 30%;
}

.rank {
  width: 10%;
}