
.coin {
  border-radius: 2px;
  color: #595959;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

.coin:hover {
  background-color: rgb(247, 247, 247);
}

.coin-spec {
  width: 17.5%;
  padding: .5rem 1rem;
  font-size: 1rem;
  text-align: right;
  height: 3rem;
  line-height: 2.1rem;
}

.name-coin {
  text-align: left;
  border-right: 1px solid #f0f0f0;
  width: 30%;
}



.rank-coin {
  width: 10%;
}

.green {
  color: rgb(114, 184, 114);
}

.red {
  color: rgb(249, 100, 100)
}

@media (max-width: 768px){
  .coin {
    justify-content: space-between;
  }

  .rank-coin {
    width: 7%;
  }

  .price-coin {
    width: 12%;
  }

  .amount-coin {
    width: 25%;
  }

  .change-coin {
    width: 12%;
  }
}

