* {
  box-sizing: border-box;
}

main {
  width: 70%;
  margin: auto;
  background-color: white;
  border: 1px solid #dedddd;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container {
  width: 70%;
  border: 1px solid #dedddd;
  border-bottom: 1px solid #dedddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color:  white;
  margin: auto;
}

#legend {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  width: 100%;
}

.legend-button {
  width: 17.5%;
  font-weight: bold;
  color: #8a8a8a;
  border: none;
  outline: none;
  padding: 0;
  padding-right: 1rem; 
  display: flex;
  align-items: center;
  position: relative;
}

.legend-button:hover::after {
  position: absolute;
  top: 48px;
  font-size: .8rem;
  height: 1.4rem;
  line-height: 1.4rem;
  padding: 0 .5rem;
  background-color: rgba(108, 108, 108, 0.886);
  color: white;
  border-radius: 2px;
}

.name:hover::after {
  content: "The name of the criptocurrency";
}

.rank:hover::after {
  content: "The rank of the criptocurrency";
  left: 45%;
  right: -10rem;
}

.price:hover::after {
  content: "The price in USD";
  left: 68%;
  right: -4rem;
}

.change:hover::after {
  content: "The change in price in the last 24 hours";
  left: 42%;
  right: -10rem;
}

.amount:hover::after {
  content: "Total supply of cryptocurrency";
  left: 55%;
  right: -8rem;
}



.legend-title {
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.legend-title span {
  margin-left: .5rem;
}

#legend_flag {
  padding: 0;
  padding-left: 1.5rem;
}

.name {
  border-right: 1px solid #f0f0f0;
  width: 30%;
  padding-left: 1rem;
}

#name {
  margin-left: 0;
  margin-right: .5rem;
}


.name .legend-title {
  justify-content: flex-start;
}

.rank {
  width: 10%;
}

.legend-button:hover svg {
  fill: rgb(79, 79, 79);
}

