.input-container {
  width: 30%;
  line-height: 2rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color:  rgb(250, 248, 248);
  padding-left: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

#search {
  width: 30%;
  min-width: 10rem;
  line-height: 2rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  background-color:  rgb(250, 248, 248);
  padding-left: .4rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(167, 164, 164);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(167, 164, 164);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(167, 164, 164);
}